.container-popup {
  height: 125px;
  box-shadow: 2px 2px 2px 2px #888888;
  border: none;
  width: 30%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #b3d2f5;
}

.content-style {
  display: flex;
  text-align: center;
  margin-top: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.button-container {
  display: flex;
  flex-direction: row;
  margin: 19px auto;
}
.button-confirm {
  margin: 0 auto;
  padding: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}
.button-cancel {
  margin: 0 auto;
  padding: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
