* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    height: 650px;
    width: 100%;
    /* background-color: rgb(255, 255, 0); */
    color: #000;

}
.container h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input-container{
    align-items: center;
    display: flex;
    justify-content: center;
}
.submit-poem{
    align-items: center;
    display: flex;
    justify-content: center;
}
.submit-poem button{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input-container textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 150px;
    width: 40%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #000;
    font-size: 20px;
}